<dx-button text="Click me" (onClick)="helloWorld()">
</dx-button>

<dx-data-grid [dataSource]="employees" [allowColumnReordering]="true" [columnAutoWidth]="true">
  <dxo-paging [pageSize]="5" [pageIndex]="1">
    <!-- Shows the second page -->
  </dxo-paging>
  <dxo-grouping [autoExpandAll]="true"></dxo-grouping>
  <dxo-toolbar>
    <dxi-item name="groupPanel"></dxi-item>
    <dxi-item location="after">
      <dx-button [text]="expanded ? 'Collapse All' : 'Expand All'" [width]="136" (onClick)="expanded = !expanded">
      </dx-button>
    </dxi-item>
    <dxi-item name="addRowButton" showText="always"></dxi-item>
    <dxi-item name="exportButton"></dxi-item>
    <dxi-item name="columnChooserButton"></dxi-item>
    <dxi-item name="searchPanel"></dxi-item>
  </dxo-toolbar>
  <dxi-column dataField="name_product" [fixed]="true">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="description">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="unit_price" dataType="date" [width]="200">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="stock" dataType="date" [width]="100">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxi-column dataField="City"></dxi-column>
  <dxi-column dataField="Country" sortOrder="asc">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxo-editing mode="popup" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true">
  </dxo-editing>

  <dxi-column dataField="Address" [visible]="false"></dxi-column>
  <dxi-column dataField="HomePhone" [visible]="false"></dxi-column>
  <dxi-column dataField="PostalCode" [visible]="false"></dxi-column>

  <dxo-column-fixing [enabled]="true"></dxo-column-fixing>
  <dxo-column-chooser [enabled]="true"></dxo-column-chooser>
  <dxo-filter-row [visible]="true"></dxo-filter-row>
  <dxo-search-panel [visible]="true"></dxo-search-panel>
  <dxo-summary>
    <dxi-total-item column="FullName" summaryType="count">
    </dxi-total-item>
  </dxo-summary>
  
  <dxo-pager
        [showPageSizeSelector]="true"
        [allowedPageSizes]="[10, 20, 50]"
        [showNavigationButtons]="true">
    </dxo-pager>
</dx-data-grid>